<%- include("header") -%>
<div class="box" id="item">
    <div>
        hi this is about page of my to do list and it contain complete instructions to execute this project
        <br>install npm
        <br>install all dependencies present in the package.json file
        <br>to run the project execute this "node app.js"
        <br>it contain three pages 
        <ol>
            <li>to do list</li>
            <li>work</li>
            <li>about</li>
        </ol>
    </div>
</div>
<%- include("footer") -%>